@font-face {
	font-family: Raleway;
	src: url(/public/ttf/Raleway.ttf);
}

:root {
	--basic-viewpoint-unit: calc(1vh + 1vw);
	--border: calc(var(--basic-viewpoint-unit) / 10) solid var(--secondary-color);
	--border-radius: calc(var(--basic-viewpoint-unit) / 8);
	--transition: 0.1s;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	transition: var(--transition);
}

body {
	--responsive-font-size: calc(var(--basic-viewpoint-unit) * 1);

	font-family: Raleway;
	font-size: var(--responsive-font-size);
	font-weight: 500;
	background-color: var(--basic-color);
	color: var(--secondary-color);
}

.app-container {
	height: 100vh;
	padding: 1.5em;
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: 2em;
}

button {
	padding: 0.4em 0.8em;
	font-family: inherit;
	font-size: 0.7em;
	font-weight: 600;
	background-color: transparent;
	color: var(--secondary-color);
	border-radius: var(--border-radius);
	border: var(--border);
	cursor: pointer;
	&:hover {
		background-color: var(--primary-color);
		border-color: var(--primary-color);
	}
}
