:root {
	--basic-color: #000000;
	--primary-color: #965dff;
	--secondary-color: #ffffff;
}

.todo-list {
	--gap: 2rem;
	--column: 3;

	width: 100%;
	display: flex;
	flex-wrap: wrap;
	gap: var(--gap);

	.todo {
		--container-free-space: calc(100% - var(--gap) * (var(--column) - 1));
		--todo-size: calc(var(--container-free-space) / var(--column));

		width: var(--todo-size);
		height: min-content;
		padding: 1em;
		border: var(--border);
		border-radius: var(--border-radius);
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 2em;

		.todo-title {
			font-family: inherit;
			font-weight: 700;
			font-size: 1.5em;
			background-color: transparent;
			color: var(--secondary-color);
			overflow: hidden;
			text-overflow: ellipsis;
			outline: none;
			border: none;
		}

		.task-list {
			height: 100%;
			display: flex;
			flex-direction: column;
			gap: 0.65em;

			.task-wrapper {
				display: flex;
				align-items: center;
				gap: 0.65em;

				.task {
					width: 100%;
					padding-bottom: 0.25em;
					outline: none;
					border: none;
					font-family: inherit;
					font-weight: 400;
					font-size: 0.8em;
					background-color: transparent;
					color: var(--secondary-color);
					overflow: hidden;
					text-overflow: ellipsis;
					&.complite {
						text-decoration: line-through;
					}
				}
			}
		}

		.buttons {
			display: flex;
			justify-content: space-between;
			gap: 0.5em;
		}
	}
}
